   ::selection{
      background-color: #00FF84;
      color: black;
   }
div#container
{
   width: 1360px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #002333;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(0,255,132,1.00) rgba(0,35,51,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 5px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,35,51,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(0,255,132,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,255,132,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,35,51,1.00);
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: none;
}
#Tabs1.ui-widget
{
   font-size: 1em !important;
}
#Tabs1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #002333;
   padding: 4px 4px 4px 4px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.0;
   padding: 4px 4px 0 4px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav li
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0 2px -1px 0 ;
   text-align: left;
}
#Tabs1 .ui-tabs-nav li a
{
   padding: 8px 10px 8px 10px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-top
{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#Tabs1 .ui-helper-reset
{
   line-height: 19px;
}
#Tabs1 .ui-widget-header
{
   border: 1px solid #002333;
   background-color: transparent;
   background-image: none;
}
#Tabs1 .ui-state-default, #Tabs1 .ui-widget-content .ui-state-default
{
   border-color: #002333;
   background-color: #F6F6F6;
   background-image: none;
}
#Tabs1 .ui-state-hover, #Tabs1 .ui-widget-content .ui-state-hover
{
   border-color: #002333;
   background-color: #EDEDED;
   background-image: none;
}
#Tabs1 .ui-state-active, #Tabs1 .ui-widget-content .ui-state-active
{
   border-color: #00FF84;
   background-color: #00FF84;
   background-image: none;
}
#Tabs1 .ui-state-default a, #Tabs1 .ui-widget-content .ui-state-default a
{
   color: #454545;
}
#Tabs1 .ui-state-hover a, #Tabs1 .ui-widget-content .ui-state-hover a
{
   color: #2B2B2B;
}
#Tabs1 .ui-state-active a, #Tabs1 .ui-widget-content .ui-state-active a
{
   color: #002333;
}
#Tabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#Tabs1 .description
{
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
#Table1
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td, #Table1 th
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 206px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table1 .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 334px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table1 .cell2
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 212px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell3
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 340px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell4
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 206px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 334px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 212px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell8
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 340px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell9
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table2 td, #Table2 th
{
   padding: 0;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 154px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table2 .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 166px;
   height: 82px;
   color: #FFFFFF;
   font-family: Jost;
   font-size: 19px;
   line-height: 27px;
}
#Table2 .cell2
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 270px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table2 .cell3
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 398px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table2 .cell4
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 116px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table2 .cell5
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table2 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 154px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 166px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell8
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 270px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell9
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 398px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell10
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 116px;
   height: 82px;
}
#Table2 .cell11
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell12
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 154px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell13
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 166px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell14
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 270px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell15
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 398px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell16
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 116px;
   height: 82px;
}
#Table2 .cell17
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell18
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 154px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell19
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 166px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell20
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 270px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell21
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 398px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell22
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 116px;
   height: 82px;
}
#Table2 .cell23
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell24
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 154px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell25
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 166px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell26
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 270px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell27
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 398px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell28
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 116px;
   height: 82px;
}
#Table2 .cell29
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell30
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 154px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell31
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 166px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell32
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 270px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell33
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 398px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell34
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 116px;
   height: 82px;
}
#Table2 .cell35
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table3 td, #Table3 th
{
   padding: 0;
}
#Table3 td div
{
   white-space: nowrap;
}
#Table3 p, #Table3 ul
{
   margin: 0;
   padding: 0;
}
#Table3 .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table3 .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table3 .cell2
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table3 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell4
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell8
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell9
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell10
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell11
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell12
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell13
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell14
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell15
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell16
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell17
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table4 td, #Table4 th
{
   padding: 0;
}
#Table4 td div
{
   white-space: nowrap;
}
#Table4 p, #Table4 ul
{
   margin: 0;
   padding: 0;
}
#Table4 .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table4 .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table4 .cell2
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table4 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell4
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell8
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell9
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell10
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell11
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell12
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell13
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell14
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell15
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 396px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell16
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 608px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell17
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 210px;
   height: 82px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#wb_Icon1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: #00FF84;
   background-image: none;
   border: 0px solid #245580;
}
#Icon1
{
   height: 20px;
   width: 20px;
}
.Icon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Foundation Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.Icon1:before
{
   content: "\f15a";
}
#Icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 20px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #000000;
}
#wb_Icon1
{
   position: absolute;
   left: 1270px;
   top: 31px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 6;
}
#wb_uid51
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid24
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid12
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid5
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid23
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid13
{
   font-family: "Jost";
}
#wb_uid4
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid34
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid22
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid10
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid3
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#Table1
{
   position: absolute;
   left: 29px;
   top: 8px;
   width: 1198px;
   height: 499px;
   z-index: 0;
}
#wb_uid35
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid21
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid11
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid2
{
   font-size: 19px;
   line-height: 21px;
}
#Table3
{
   position: absolute;
   left: 29px;
   top: 8px;
   width: 1218px;
   height: 499px;
   z-index: 3;
}
#tabs1-page-4
{
   height: 526px;
}
#wb_uid36
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#tabs1-page-3
{
   height: 526px;
}
#wb_uid20
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid16
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#tabs1-page-2
{
   height: 526px;
}
#wb_uid1
{
   font-size: 13px;
   line-height: 16px;
}
#tabs1-page-1
{
   height: 526px;
}
#wb_uid37
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid17
{
   font-size: 13px;
   line-height: 16px;
}
#Table2
{
   position: absolute;
   left: 30px;
   top: 8px;
   width: 1211px;
   height: 499px;
   z-index: 1;
}
#wb_uid0
{
   font-family: "Jost";
}
#wb_uid30
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid14
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
}
#wb_uid41
{
   font-size: 19px;
   line-height: 21px;
}
#Table4
{
   position: absolute;
   left: 29px;
   top: 8px;
   width: 1218px;
   height: 499px;
   z-index: 2;
}
#wb_uid31
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid15
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid40
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid32
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid43
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid33
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid42
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#Tabs1
{
   position: absolute;
   left: 58px;
   top: 114px;
   width: 1260px;
   height: 555px;
   z-index: 4;
}
#wb_uid45
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid29
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid18
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid54
{
   color: #C0C0C0;
   font-family: "Jost ExtraBold";
   font-size: 24px;
}
#wb_uid44
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid28
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid19
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid47
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid9
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid52
{
   color: #FFFFFF;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#wb_uid46
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid38
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid27
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid8
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid53
{
   color: #00FF84;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#wb_Text25
{
   position: absolute;
   left: 60px;
   top: 26px;
   width: 494px;
   height: 110px;
   z-index: 5;
}
#wb_uid49
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid39
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid26
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid7
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid50
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid48
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid25
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
#wb_uid6
{
   font-family: "Jost";
   font-size: 19px;
   line-height: 27px;
}
