   ::selection{
      background-color: #00FF84;
      color: black;
   }
div#container
{
   width: 1360px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #002333;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(0,255,132,1.00) rgba(0,35,51,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 5px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,35,51,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(0,255,132,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,255,132,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,35,51,1.00);
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: none;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 4px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#editprofile
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_editprofile
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#editprofile
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_editprofile .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#editprofile
{
   color: #454545;
   text-decoration: none;
}
#editprofile :hover
{
   color: #2B2B2B;
}
#editprofile :active
{
   color: #FFFFFF;
}
#wb_editprofile .ui-corner-all, #wb_editprofile .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_editprofile .ui-corner-all, #wb_editprofile .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_editprofile .ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #00090D;
   color: #FFFFFF;
}
#wb_editprofile .ui-state-hover, #wb_editprofile .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_editprofile .ui-state-active, #wb_editprofile .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#myskills
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_myskills
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#myskills
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_myskills .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#myskills
{
   color: #454545;
   text-decoration: none;
}
#myskills :hover
{
   color: #2B2B2B;
}
#myskills :active
{
   color: #FFFFFF;
}
#wb_myskills .ui-corner-all, #wb_myskills .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_myskills .ui-corner-all, #wb_myskills .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_myskills .ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #00090D;
   color: #FFFFFF;
}
#wb_myskills .ui-state-hover, #wb_myskills .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_myskills .ui-state-active, #wb_myskills .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#signout
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#signout .ui-button
{
   position: absolute;
   padding: 0;
}
#signout.ui-corner-all
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#signout.ui-corner-all
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#signout.ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #00090D;
   color: #FF0000;
}
#signout.ui-state-hover, #signout.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#signout.ui-state-active, #signout.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#signup
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_signup
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#signup
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_signup .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#signup
{
   color: #454545;
   text-decoration: none;
}
#signup :hover
{
   color: #2B2B2B;
}
#signup :active
{
   color: #FFFFFF;
}
#wb_signup .ui-corner-all, #wb_signup .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_signup .ui-corner-all, #wb_signup .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_signup .ui-button
{
   background-color: #00FF84;
   background-image: none;
   border: 1px solid #00FF84;
   color: #002333;
}
#wb_signup .ui-state-hover, #wb_signup .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_signup .ui-state-active, #wb_signup .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#signin
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_signin
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#signin
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_signin .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#signin
{
   color: #454545;
   text-decoration: none;
}
#signin :hover
{
   color: #2B2B2B;
}
#signin :active
{
   color: #FFFFFF;
}
#wb_signin .ui-corner-all, #wb_signin .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_signin .ui-corner-all, #wb_signin .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_signin .ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(0,255,132,0.00);
   color: #FFFFFF;
}
#wb_signin .ui-state-hover, #wb_signin .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_signin .ui-state-active, #wb_signin .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
.DropdownMenu1 .nav
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
}
#DropdownMenu1, .DropdownMenu1 .nav, .DropdownMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu1 .nav:before,
.DropdownMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .nav:after 
{
   clear: both;
}
.DropdownMenu1 .nav a 
{
   text-decoration: none;
}
.DropdownMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu1 .container:before,
.DropdownMenu1 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .container:after 
{
   clear: both;
}
.DropdownMenu1 .collapse 
{
   display: none;
}
.DropdownMenu1 .collapse.show 
{
   display: block;
}
.DropdownMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu1 .caret, .DropdownMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu1 .dropdown 
{
   position: relative;
}
.DropdownMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   white-space: nowrap;
}
.DropdownMenu1 .dropdown-menu>li>a:hover,
.DropdownMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .dropdown-menu>li>a.active,
.DropdownMenu1 .dropdown-menu>li>a.active:hover,
.DropdownMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu1 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu1 .show>a 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu1 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu1 .nav .show>a,
.DropdownMenu1 .nav .show>a:hover,
.DropdownMenu1 .nav .show>a:focus 
{
    border-color: #FFFFFF;
}
.DropdownMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .nav .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1
{
   position: relative;
}
.DropdownMenu1:before,
.DropdownMenu1:after
{
   content: " ";
   display: table;
}
.DropdownMenu1:after
{
   clear: both;
}
.DropdownMenu1 .navbar-header:before,
.DropdownMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu1 .navbar-header:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu1-navbar-collapse:before,
.DropdownMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu1-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu1 .navbar-nav>li>a
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu1 .navbar-toggle:hover,
.DropdownMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu1 .navbar-toggle .icon-bar
{
   background-color: #696969;
}
.DropdownMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-header
{
   color: #696969;
}
.DropdownMenu1 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu1 .navbar-header
{
   float: left;
}
.DropdownMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle
{
   display: none;
}
.DropdownMenu1 .navbar-nav 
{
   float: left;
   margin: 0;
}
.DropdownMenu1 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu1 .container>.navbar-header,
.DropdownMenu1 .container>.DropdownMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.DropdownMenu1 .navbar-nav
{
   margin: 0;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-nav>li>a
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
   margin-right: 10px;
   color: #696969;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #696969;
   border-bottom-color: #696969;
}
.DropdownMenu1 .navbar-nav > li > a.active > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #696969;
}
.DropdownMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#wb_DropdownMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: -265px;
}
#DropdownMenu1 .svg-icon
{
   fill: currentColor;
   height: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#firstname
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #F6F6F6;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.20);
   padding: 23px 4px 23px 25px;
}
#firstname:focus
{
   outline: 0;
}
#wb_firstname
{
   margin: 0;
}
#firstname::placeholder
{
   color: #A9A9A9;
   opacity: 1;
}
#firstname::-ms-input-placeholder
{
   color: #A9A9A9;
}
#firstname-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #A9A9A9;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 25px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#firstname::-moz-placeholder
{
   color: transparent;
}
#firstname::placeholder
{
   color: transparent;
}
#firstname:not(:-moz-placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#firstname:focus, #firstname:not(:placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#firstname:-webkit-autofill
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#firstname:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#firstname:focus~label, #firstname:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#firstname:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#lastname
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #F6F6F6;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.20);
   padding: 23px 4px 23px 25px;
}
#lastname:focus
{
   outline: 0;
}
#wb_lastname
{
   margin: 0;
}
#lastname::placeholder
{
   color: #A9A9A9;
   opacity: 1;
}
#lastname::-ms-input-placeholder
{
   color: #A9A9A9;
}
#lastname-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #A9A9A9;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 25px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#lastname::-moz-placeholder
{
   color: transparent;
}
#lastname::placeholder
{
   color: transparent;
}
#lastname:not(:-moz-placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#lastname:focus, #lastname:not(:placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#lastname:-webkit-autofill
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#lastname:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#lastname:focus~label, #lastname:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#lastname:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#email
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #F6F6F6;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.20);
   padding: 23px 4px 23px 30px;
}
#email:focus
{
   outline: 0;
}
#wb_email
{
   margin: 0;
}
#email::placeholder
{
   color: #A9A9A9;
   opacity: 1;
}
#email::-ms-input-placeholder
{
   color: #A9A9A9;
}
#email-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #A9A9A9;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#email::-moz-placeholder
{
   color: transparent;
}
#email::placeholder
{
   color: transparent;
}
#email:not(:-moz-placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#email:focus, #email:not(:placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#email:-webkit-autofill
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#email:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#email:focus~label, #email:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#email:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#password
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #F6F6F6;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.20);
   padding: 23px 4px 23px 30px;
}
#password:focus
{
   outline: 0;
}
#wb_password
{
   margin: 0;
}
#password::placeholder
{
   color: #A9A9A9;
   opacity: 1;
}
#password::-ms-input-placeholder
{
   color: #A9A9A9;
}
#password-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #A9A9A9;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#password::-moz-placeholder
{
   color: transparent;
}
#password::placeholder
{
   color: transparent;
}
#password:not(:-moz-placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#password:focus, #password:not(:placeholder-shown)
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#password:-webkit-autofill
{
   padding-top: 31px;
   padding-bottom: 15px;
}
#password:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#password:focus~label, #password:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#password:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#wb_editprofile
{
   position: absolute;
   left: 475px;
   top: 611px;
   width: 99px;
   height: 47px;
   z-index: 3;
}
#Image2
{
   user-select: none;
   -webkit-user-drag: none;
}
#wb_uid4
{
   color: #00FF84;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#wb_uid3
{
   color: #FFFFFF;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#wb_Image1
{
   position: absolute;
   left: 475px;
   top: 234px;
   width: 50px;
   height: 50px;
   z-index: 6;
}
#email
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: white;
}
#signout
{
   position: absolute;
   left: 792px;
   top: 611px;
   width: 99px;
   height: 47px;
   z-index: 5;
}
#wb_uid2
{
   color: #D3D3D3;
   font-family: "Jost";
   font-size: 15px;
}
#wb_Image2
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1360px;
   height: 700px;
   opacity: 0.10;
   z-index: 0;
}
#wb_signup
{
   position: absolute;
   left: 1221px;
   top: 26px;
   width: 118px;
   height: 47px;
   z-index: 7;
}
#wb_uid1
{
   color: #00FF84;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#signup
{
   width: 100%;
   height: 100%;
}
#wb_uid0
{
   color: #FFFFFF;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#wb_signin
{
   position: absolute;
   left: 1102px;
   top: 26px;
   width: 99px;
   height: 47px;
   z-index: 8;
}
#password
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: white;
}
#wb_email
{
   position: absolute;
   left: 470px;
   top: 394px;
   width: 421px;
   height: 62px;
   z-index: 13;
}
#wb_lastname
{
   position: absolute;
   left: 703px;
   top: 306px;
   width: 188px;
   height: 62px;
   z-index: 12;
}
#wb_Text1
{
   position: absolute;
   left: 475px;
   top: 166px;
   width: 494px;
   height: 110px;
   z-index: 1;
}
#wb_Text2
{
   position: absolute;
   left: 541px;
   top: 250px;
   width: 304px;
   height: 43px;
   z-index: 2;
}
#wb_firstname
{
   position: absolute;
   left: 475px;
   top: 306px;
   width: 198px;
   height: 62px;
   z-index: 11;
}
#myskills
{
   width: 100%;
   height: 100%;
}
#wb_password
{
   position: absolute;
   left: 470px;
   top: 474px;
   width: 421px;
   height: 62px;
   z-index: 14;
}
#firstname
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: white;
}
#editprofile
{
   width: 100%;
   height: 100%;
}
#lastname
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: white;
}
#wb_DropdownMenu1
{
   position: absolute;
   left: 415px;
   top: 30px;
   width: 587px;
   height: 47px;
   z-index: 10;
}
#wb_Text25
{
   position: absolute;
   left: 66px;
   top: 26px;
   width: 310px;
   height: 110px;
   z-index: 9;
}
#wb_myskills
{
   position: absolute;
   left: 631px;
   top: 611px;
   width: 99px;
   height: 47px;
   z-index: 4;
}
#signin
{
   width: 100%;
   height: 100%;
}
#Image1
{
   border-radius: 50%;
   user-select: none;
   -webkit-user-drag: none;
}
