   ::selection{
      background-color: #00FF84;
      color: black;
   }
div#container
{
   width: 1360px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #002333;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(0,255,132,1.00) rgba(0,35,51,1.00);
   scrollbar-width: thin;
}
*::-webkit-scrollbar
{
   width: 5px;
}
*::-webkit-scrollbar-track
{
   background: rgba(0,35,51,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(0,255,132,1.00);
   border-radius: 2px;
   border: 2px solid rgba(0,255,132,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(0,35,51,1.00);
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: none;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 4px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text1 
{
   padding: 0;
   margin: 0;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#title
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #F6F6F6;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.20);
   padding: 22px 4px 22px 30px;
}
#title:focus
{
   outline: 0;
}
#wb_title
{
   margin: 0;
}
#title::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#title::-ms-input-placeholder
{
   color: #4F4F4F;
}
#title-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   margin-left: 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#title::-moz-placeholder
{
   color: transparent;
}
#title::placeholder
{
   color: transparent;
}
#title:not(:-moz-placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#title:focus, #title:not(:placeholder-shown)
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#title:-webkit-autofill
{
   padding-top: 30px;
   padding-bottom: 14px;
}
#title:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#title:focus~label, #title:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#title:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#upload
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 17px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#upload .ui-button
{
   position: absolute;
   padding: 0;
}
#upload.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#upload.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#upload.ui-button
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #000000;
   color: #002333;
}
#upload.ui-state-hover, #upload.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#upload.ui-state-active, #upload.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#video *
{
   box-sizing: border-box;
}
#video
{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#video .form-control
{
   display: block;
   width: 100%;
   height: 63px;
   line-height: 55px;
   padding: 4px 30px 4px 30px;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: #555555;
   background-color: rgba(75,14,14,0.20);
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
}
#video .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0;
}
#video label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#video .input-group-btn, #video .form-control
{
   display: table-cell;
}
#video :first-child.form-control, #video :first-child.input-group-btn > .btn, #video :first-child.input-group-btn > .btn-group > .btn, #video :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, #video :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#video .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0;
   white-space: nowrap;
}
#video .btn
{
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #001722;
   background-image: none;
   border: 1px solid #FFFFFF;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 55px;
   height: 63px;
}
#video .input-group-btn > .btn
{
   position: relative;
}
#video-file:disabled ~ .btn
{
   background-color: #e9ecef;
   border-color: #FFFF00;
   pointer-events: none;
   color: #FFFF00;
}
#video :last-child.form-control, #video :last-child.input-group-btn > .btn, #video :last-child.input-group-btn > .btn-group > .btn, #video :first-child.input-group-btn > :not(:first-child).btn, #video :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#video :last-child.input-group-btn > .btn, #video :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#description
{
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.12);
   background-image: none;
   color: #FFFFFF;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.20);
   text-align: left;
   padding: 29px 4px 4px 30px;
   overflow: auto;
   resize: none;
}
#wb_description
{
   margin: 0;
}
#description:focus
{
   outline: 0;
}
#description::placeholder
{
   color: #4F4F4F;
   opacity: 1;
}
#description::-ms-input-placeholder
{
   color: #4F4F4F;
}
#description-label
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #4F4F4F;
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   padding: 18px 4px 4px 30px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,font-size .1s ease-in-out;
}
#description::-moz-placeholder
{
   color: transparent;
}
#description::placeholder
{
   color: transparent;
}
#description:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   font-size: 13.6px;
   padding-top: 10px;
}
#description:focus~label, #description:not(:placeholder-shown)~label
{
   opacity: .65;
   font-size:13.6px;
   padding-top: 10px;
}
#description:-webkit-autofill~label
{
   opacity: .65;
   font-size:13.6px;
   padding-top: 10px;
}
#category
{
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: rgba(75,14,14,0.20);
   background-image: none;
   color: #A9A9A9;
   font-family: "Jost Medium";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   box-shadow: 10px 10px 20px rgba(0,0,0,0.12);
   padding: 4px 4px 4px 4px;
   box-sizing: border-box;
}
#category:focus
{
   outline: 0;
}
#signup
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_signup
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#signup
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_signup .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#signup
{
   color: #454545;
   text-decoration: none;
}
#signup :hover
{
   color: #2B2B2B;
}
#signup :active
{
   color: #FFFFFF;
}
#wb_signup .ui-corner-all, #wb_signup .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_signup .ui-corner-all, #wb_signup .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_signup .ui-button
{
   background-color: #00FF84;
   background-image: none;
   border: 1px solid #00FF84;
   color: #002333;
}
#wb_signup .ui-state-hover, #wb_signup .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_signup .ui-state-active, #wb_signup .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#signin
{
   font-family: "Jost Medium";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_signin
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#signin
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_signin .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#signin
{
   color: #454545;
   text-decoration: none;
}
#signin :hover
{
   color: #2B2B2B;
}
#signin :active
{
   color: #FFFFFF;
}
#wb_signin .ui-corner-all, #wb_signin .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_signin .ui-corner-all, #wb_signin .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_signin .ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(0,255,132,0.00);
   color: #FFFFFF;
}
#wb_signin .ui-state-hover, #wb_signin .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_signin .ui-state-active, #wb_signin .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
.DropdownMenu1 .nav
{
   font-family: "Josefin Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
}
#DropdownMenu1, .DropdownMenu1 .nav, .DropdownMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu1 .nav:before,
.DropdownMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .nav:after 
{
   clear: both;
}
.DropdownMenu1 .nav a 
{
   text-decoration: none;
}
.DropdownMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu1 .container:before,
.DropdownMenu1 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .container:after 
{
   clear: both;
}
.DropdownMenu1 .collapse 
{
   display: none;
}
.DropdownMenu1 .collapse.show 
{
   display: block;
}
.DropdownMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu1 .caret, .DropdownMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu1 .dropdown 
{
   position: relative;
}
.DropdownMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   white-space: nowrap;
}
.DropdownMenu1 .dropdown-menu>li>a:hover,
.DropdownMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .dropdown-menu>li>a.active,
.DropdownMenu1 .dropdown-menu>li>a.active:hover,
.DropdownMenu1 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu1 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu1 .show>a 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu1 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu1 .nav .show>a,
.DropdownMenu1 .nav .show>a:hover,
.DropdownMenu1 .nav .show>a:focus 
{
    border-color: #FFFFFF;
}
.DropdownMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu1 .nav .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1
{
   position: relative;
}
.DropdownMenu1:before,
.DropdownMenu1:after
{
   content: " ";
   display: table;
}
.DropdownMenu1:after
{
   clear: both;
}
.DropdownMenu1 .navbar-header:before,
.DropdownMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu1 .navbar-header:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu1-navbar-collapse:before,
.DropdownMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu1-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu1 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu1 .navbar-nav>li>a
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu1 .navbar-toggle:hover,
.DropdownMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu1 .navbar-toggle .icon-bar
{
   background-color: #696969;
}
.DropdownMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu1 .navbar-header
{
   color: #696969;
}
.DropdownMenu1 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu1 .navbar-header
{
   float: left;
}
.DropdownMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle
{
   display: none;
}
.DropdownMenu1 .navbar-nav 
{
   float: left;
   margin: 0;
}
.DropdownMenu1 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu1 .container>.navbar-header,
.DropdownMenu1 .container>.DropdownMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu1 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.DropdownMenu1 .navbar-nav
{
   margin: 0;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-nav>li>a
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
   margin-right: 10px;
   color: #696969;
}
.DropdownMenu1 .navbar-nav>li>a:hover,
.DropdownMenu1 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>li>a.active,
.DropdownMenu1 .navbar-nav>li>a.active:hover,
.DropdownMenu1 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav>.show>a,
.DropdownMenu1 .navbar-nav>.show>a:hover,
.DropdownMenu1 .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #696969;
   border-bottom-color: #696969;
}
.DropdownMenu1 .navbar-nav > li > a.active > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav>.show>a .caret,
.DropdownMenu1 .navbar-nav>.show>a:hover .caret,
.DropdownMenu1 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-link
{
   color: #696969;
}
.DropdownMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#wb_DropdownMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: -265px;
}
#DropdownMenu1 .svg-icon
{
   fill: currentColor;
   height: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1360px;
   height: 700px;
   opacity: 0.10;
   z-index: 0;
}
#category
{
   position: absolute;
   left: 480px;
   top: 428px;
   width: 404px;
   height: 58px;
   z-index: 6;
}
#description
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: white;
}
#wb_uid1
{
   color: #00FF84;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#wb_signup
{
   position: absolute;
   left: 1221px;
   top: 26px;
   width: 118px;
   height: 47px;
   z-index: 7;
}
#wb_uid0
{
   color: #FFFFFF;
   font-family: "Jost ExtraBold";
   font-size: 37px;
}
#signup
{
   width: 100%;
   height: 100%;
}
#title
{
   border-top: yellow;
   border-left: yellow;
   border-right: yellow;
   border-width: 2px;
   border-color: white;
}
#wb_signin
{
   position: absolute;
   left: 1102px;
   top: 26px;
   width: 99px;
   height: 47px;
   z-index: 8;
}
#video
{
   position: absolute;
   left: 480px;
   top: 490px;
   width: 401px;
   height: 63px;
   z-index: 4;
}
#wb_Text1
{
   position: absolute;
   left: 460px;
   top: 161px;
   width: 441px;
   height: 224px;
   text-align: center;
   z-index: 1;
}
#video-file
{
   display: none;
}
#upload
{
   position: absolute;
   left: 478px;
   top: 561px;
   width: 405px;
   height: 60px;
   z-index: 3;
}
#wb_description
{
   position: absolute;
   left: 479px;
   top: 339px;
   width: 404px;
   height: 78px;
   z-index: 5;
}
#wb_title
{
   position: absolute;
   left: 479px;
   top: 269px;
   width: 405px;
   height: 60px;
   z-index: 2;
}
#wb_DropdownMenu1
{
   position: absolute;
   left: 415px;
   top: 30px;
   width: 587px;
   height: 47px;
   z-index: 10;
}
#wb_Text25
{
   position: absolute;
   left: 66px;
   top: 26px;
   width: 310px;
   height: 110px;
   z-index: 9;
}
#signin
{
   width: 100%;
   height: 100%;
}
#Image1
{
   user-select: none;
   -webkit-user-drag: none;
}
   #upload{
      transition: all 0.3s ease-in-out;
   }
   #upload:hover{
      box-shadow: 0px 0px 20px #858585ad, 0px 0px 3px #ffffff;
   }
   .btn{
      border-top: yellow;
    border-left: yellow;
    border-right: yellow;
    border-width: 2px;
    border-color: yellow;
   }
